.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: auto;
    margin: 100px;

    .container {
        display: flex;        
        width: 80vw;
        align-items: center;
        
        .code {
            width: 700px;
            height: auto;
        }

        div {
            h1 {
                font-size: 2rem;
                color: cyan;
            }

            p {
                font-size: 1.2rem;
                color: white;
            }
        }        
    }
}